<div>
    <div *ngIf="isLoading">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="!isLoading">
        
        <div>
            <button
            mat-raised-button
            color="primary"
            (click)="getAllThreadsWithDetail()"
            class="mb-4"
        >
            Refresh
        </button>
        </div>
        <app-list-item
            *ngFor="let thread of threads; let i = index"
            [thread]="thread"
            [threadId]="thread.id"
            [itemIndex]="i"
        >
        </app-list-item>
    </div>
</div>
